.navbar {
    overflow: hidden;
    background-color: #585757;
    position: fixed; /* Установите навигационную панель в фиксированное положение */
    top: 0; /* Расположите навигационную панель в верхней части страницы */
    left: 0;
    width: 100%;
}

    .navbar a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        .navbar a:hover {
            text-decoration: underline;
        }

.maine {
    width: 500px;
    height: 250px;
    border: medium solid black;
    margin: 160px auto;
    border-radius: 10px;
    box-shadow: 0 5px 10px #8e8d8d;
}

.reg {
    text-align: center;
    display: block;
    margin: 5px auto;
}

h2 {
    text-align: center;
}

.p5 {
    width: 300px;
}

.login {
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 0 auto;
    display: block;
    margin: 30px auto;
    border-radius: 5px;
    box-shadow: 0 5px 5px #8e8d8d;
    width: 80px;
}

    .login:hover {
        background-color: rgb(135, 135, 135);
    }

    .login:active {
        background-color: blanchedalmond;
        box-shadow: 0 0 0 #ffffff;
    }

.search {
    width: 600px;
    height: 23px;
    border-radius: 10px;
}
